--------------------------------------

### 新题目

I have a dictionary with each key holding a list of float values. These lists are not the same size.

I'd like to convert this dictionary to a dataframe so that I can perform some analysis functions on the data easily (min, max, average, standard deviation, more).

My dictionary looks like this:

{
    'key1': [10, 100.1, 0.98, 1.2],
    'key2', [72.5],
    'key3', [1, 5.2, 71.2, 9, 10.11, 12.21, 65, 7]
}
What is the best way to get this into a dataframe so that I can utilize basic functions like sum, mean, describe, std?

The examples I find (like the link above), all assume each of the keys have the same number of values in the list.

打算使用numpy，构建数组来做。

同时存在疑问，提问者准备对属性缺失的样本怎么处理，是在计算与该属性相关的量时直接忽略该样本，还是用缺省值代替。

实验：

In [1]:
a = [[1,2,3], [4,5], [6], [7,8]]

In [2]:
import numpy as np

In [3]:
b = np.array(a)

In [12]:
b[:,0]

IndexError: too many indices for array

In [14]:
c = [[1,2,3], [4,5,2], [6,2,2], [7,2,8]]
d = np.array(c)

In [15]:
d

array([[1, 2, 3],
       [4, 5, 2],
       [6, 2, 2],
       [7, 2, 8]])

由此，发现，以长短不一的list为元素的list同样可以使用np.array()进行转换，但是，转换之后并不具备ndarray的某些性质

参考别人提供的解法：

#### 解1

In [16]:
import pandas as pd

In [18]:
d={
    'key1': [10, 100.1, 0.98, 1.2],
    'key2': [72.5],
    'key3': [1, 5.2, 71.2, 9, 10.11, 12.21, 65, 7]
}

df=pd.DataFrame.from_dict(d,orient='index').transpose()
df

    key3  key2    key1
0   1.00  72.5   10.00
1   5.20   NaN  100.10
2  71.20   NaN    0.98
3   9.00   NaN    1.20
4  10.11   NaN     NaN
5  12.21   NaN     NaN
6  65.00   NaN     NaN
7   7.00   NaN     NaN

漂亮，接下来，使用numpy进行进一步的计算，因为在numpy中有可以忽略NaN项的函数：

In [20]:
import numpy as np
np.nanmean(df[['key1']])

28.07

#### 解2

沿用上面解1中的部分变量：

In [23]:
df = pd.DataFrame({key : pd.Series(vals) for key, vals in d.items()})
df

     key1  key2   key3
0   10.00  72.5   1.00
1  100.10   NaN   5.20
2    0.98   NaN  71.20
3    1.20   NaN   9.00
4     NaN   NaN  10.11
5     NaN   NaN  12.21
6     NaN   NaN  65.00
7     NaN   NaN   7.00

其中：

In [24]:
{key : pd.Series(vals) for key, vals in d.items()}

{'key1': 0     10.00
 1    100.10
 2      0.98
 3      1.20
 dtype: float64, 'key2': 0    72.5
 dtype: float64, 'key3': 0     1.00
 1     5.20
 2    71.20
 3     9.00
 4    10.11
 5    12.21
 6    65.00
 7     7.00
 dtype: float64}

实验：

In [28]:
d.items()

[('key3', [1, 5.2, 71.2, 9, 10.11, 12.21, 65, 7]),
 ('key2', [72.5]),
 ('key1', [10, 100.1, 0.98, 1.2])]

In [27]:
li = [['q', 1], ['w', 2], ['e', 3]]
li2dict = {key: val for key, val in li}
li2dict

{'e': 3, 'q': 1, 'w': 2}

看来对于pandas和numpy还要好好的学一学，以及一些小技巧，以前只知道[item for item in li]之类的用法，原来字典也是可以的

----------------------------------------------
### 新题目
If i have an numpy array
```
A=[[-4. -4. -4.]                           #(6,3)
[-8. -8. -8.]
[-1. -1. -1.]
[-5. -5. -5.]
[ 2.  2.  2.]
[-2. -2. -2.]]
```
I need norm of each row as (2,3) My solution is:

np.linalg.norm(A,axis=1)

My output is
```
[6.92820323  13.85640646   1.73205081   8.66025404   3.46410162  3.46410162]
```
Required output is:
```
[[  6.92820323  13.85640646]
[  1.73205081   8.66025404]
[  3.46410162   3.46410162]]
```
I want to get the required output just in one step without reshaping the resultant numpy array.because i have a large data set and i have to perform this operation repeatedly. Any suggestion ?

In [33]:
A=[[-4., -4., -4.],   #(6,3)
[-8., -8., -8.],
[-1., -1., -1.],
[-5., -5., -5.],
[ 2.,  2.,  2.],
[-2., -2., -2.]]
A = np.array(A)
ans = np.linalg.norm(A,axis=1)
ans = ans.reshape((3,2))
ans

array([[  6.92820323,  13.85640646],
       [  1.73205081,   8.66025404],
       [  3.46410162,   3.46410162]])

---------------------------
### 关于类的变量和对象的变量

In [66]:
class test():
    angle = 0
    def __init__(self):
        self.angle1 = self.angle  # when __init__() run,it can't find a angle of your object,
                                  # so it will go to find the global angle in your class
        
    def show(self):
        print self.angle1
    
    def change(self):
        self.angle = 1   # this self.angle is a val for object
        print self.angle
        
    def change_class(self):
        test.angle = 1   # if you want to change the angle of your class,this can be worked

In [67]:
q = test()
q.show()
q.change()
p = test()
p.show()
q.change_class()
p = test()
p.show()

0
1
0
1

-------------------------------
### 问题：
一个文件中有两行字符串，第一行是keys，第二行是每个key对应的value，现需要读出来，组织成dict

这个问题使用zip()可以将key和value对应，然后使用一个生成器

In [69]:
fp = open('test.txt')
s1 = fp.readline()
s2 = fp.readline()
s = zip(s1, s2)
ans = {key : val for key,val in s}
print ans

{'q': '1', '\n': '\n', 'r': '4', 'e': '3', 'w': '2'}

但是此处把换行符也包含进来了，用strip()处理读出的行信息，将其去掉

In [70]:
fp = open('test.txt')
s1 = fp.readline().strip()
s2 = fp.readline().strip()
s = zip(s1, s2)
ans = {key : val for key,val in s}
print ans

{'q': '1', 'r': '4', 'e': '3', 'w': '2'}

-------------------------------
### sklearn 的学习
有人在提问，是关于是关于sklearn上的内容，顺便看了下，试了试

In [64]:
import pydotplus 
from sklearn.datasets import load_iris
from sklearn import tree
iris = load_iris()
clf = tree.DecisionTreeClassifier()
clf = clf.fit(iris.data, iris.target)
with open("iris.dot", 'w') as f:
    f = tree.export_graphviz(clf, out_file=f)

dot_data = tree.export_graphviz(clf, out_file=None) 
graph = pydotplus.graph_from_dot_data(dot_data) 
graph.write_pdf("iris.pdf")

True